In [1]:
# 필요한 데이터 로딩
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 결측치를 가진 값만 가지고 데이터셋 만들어서 모델링한 개체에 예측값 채우기
data = pd.read_csv('C:/Users/admin/Desktop/sparta/train_scaled_org.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
data['HomePlanet'] = data['HomePlanet'].map({'Earth':0, 'Europa':1, 'Mars':2})
data['HomePlanet'].head()

0    1.0
1    0.0
2    1.0
3    1.0
4    0.0
Name: HomePlanet, dtype: float64

In [4]:
data.isnull().sum()

PassengerId       0
HomePlanet      192
CryoSleep         2
Cabin1          103
Cabin2          103
combi           103
Cabin3          103
Cabin           103
Destination     174
Age             179
VIP             203
RoomService     112
FoodCourt       112
ShoppingMall    112
Spa             115
VRDeck          124
Name            200
Transported       0
dtype: int64

In [6]:
data = data.dropna(axis='index',how='any', subset=['Cabin'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8590 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8590 non-null   object
 1   HomePlanet    8402 non-null   float64
 2   CryoSleep     8590 non-null   object
 3   Cabin1        8590 non-null   object
 4   Cabin2        8590 non-null   float64
 5   combi         8590 non-null   object
 6   Cabin3        8590 non-null   object
 7   Cabin         8590 non-null   object
 8   Destination   8418 non-null   object
 9   Age           8415 non-null   float64
 10  VIP           8391 non-null   object
 11  RoomService   8479 non-null   float64
 12  FoodCourt     8480 non-null   float64
 13  ShoppingMall  8479 non-null   float64
 14  Spa           8476 non-null   float64
 15  VRDeck        8467 non-null   float64
 16  Name          8390 non-null   object
 17  Transported   8590 non-null   bool
dtypes: bool(1), float64(8), object(9)
memory usage: 1.2+ MB

In [7]:
data.isnull().sum()

PassengerId       0
HomePlanet      188
CryoSleep         0
Cabin1            0
Cabin2            0
combi             0
Cabin3            0
Cabin             0
Destination     172
Age             175
VIP             199
RoomService     111
FoodCourt       110
ShoppingMall    111
Spa             114
VRDeck          123
Name            200
Transported       0
dtype: int64

In [8]:
data = data.dropna(axis='index',how='any', subset=['Destination'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8418 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8418 non-null   object
 1   HomePlanet    8234 non-null   float64
 2   CryoSleep     8418 non-null   object
 3   Cabin1        8418 non-null   object
 4   Cabin2        8418 non-null   float64
 5   combi         8418 non-null   object
 6   Cabin3        8418 non-null   object
 7   Cabin         8418 non-null   object
 8   Destination   8418 non-null   object
 9   Age           8246 non-null   float64
 10  VIP           8223 non-null   object
 11  RoomService   8308 non-null   float64
 12  FoodCourt     8311 non-null   float64
 13  ShoppingMall  8310 non-null   float64
 14  Spa           8307 non-null   float64
 15  VRDeck        8296 non-null   float64
 16  Name          8221 non-null   object
 17  Transported   8418 non-null   bool
dtypes: bool(1), float64(8), object(9)
memory usage: 1.2+ MB

In [9]:
data.isnull().sum()

PassengerId       0
HomePlanet      184
CryoSleep         0
Cabin1            0
Cabin2            0
combi             0
Cabin3            0
Cabin             0
Destination       0
Age             172
VIP             195
RoomService     110
FoodCourt       107
ShoppingMall    108
Spa             111
VRDeck          122
Name            197
Transported       0
dtype: int64

In [10]:
data = data.dropna(axis='index',how='any', subset=['VIP'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8223 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8223 non-null   object
 1   HomePlanet    8041 non-null   float64
 2   CryoSleep     8223 non-null   object
 3   Cabin1        8223 non-null   object
 4   Cabin2        8223 non-null   float64
 5   combi         8223 non-null   object
 6   Cabin3        8223 non-null   object
 7   Cabin         8223 non-null   object
 8   Destination   8223 non-null   object
 9   Age           8056 non-null   float64
 10  VIP           8223 non-null   object
 11  RoomService   8115 non-null   float64
 12  FoodCourt     8118 non-null   float64
 13  ShoppingMall  8118 non-null   float64
 14  Spa           8113 non-null   float64
 15  VRDeck        8102 non-null   float64
 16  Name          8027 non-null   object
 17  Transported   8223 non-null   bool
dtypes: bool(1), float64(8), object(9)
memory usage: 1.1+ MB

In [11]:
data.isnull().sum()

PassengerId       0
HomePlanet      182
CryoSleep         0
Cabin1            0
Cabin2            0
combi             0
Cabin3            0
Cabin             0
Destination       0
Age             167
VIP               0
RoomService     108
FoodCourt       105
ShoppingMall    105
Spa             110
VRDeck          121
Name            196
Transported       0
dtype: int64

In [12]:
data = data.dropna(axis='index',how='any', subset=['Age'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8056 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8056 non-null   object
 1   HomePlanet    7876 non-null   float64
 2   CryoSleep     8056 non-null   object
 3   Cabin1        8056 non-null   object
 4   Cabin2        8056 non-null   float64
 5   combi         8056 non-null   object
 6   Cabin3        8056 non-null   object
 7   Cabin         8056 non-null   object
 8   Destination   8056 non-null   object
 9   Age           8056 non-null   float64
 10  VIP           8056 non-null   object
 11  RoomService   7948 non-null   float64
 12  FoodCourt     7951 non-null   float64
 13  ShoppingMall  7953 non-null   float64
 14  Spa           7946 non-null   float64
 15  VRDeck        7936 non-null   float64
 16  Name          7863 non-null   object
 17  Transported   8056 non-null   bool
dtypes: bool(1), float64(8), object(9)
memory usage: 1.1+ MB

In [13]:
data.isnull().sum()

PassengerId       0
HomePlanet      180
CryoSleep         0
Cabin1            0
Cabin2            0
combi             0
Cabin3            0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService     108
FoodCourt       105
ShoppingMall    103
Spa             110
VRDeck          120
Name            193
Transported       0
dtype: int64

# 데이터 정리

In [42]:
# 예측후 값 담을 데이터
x = data[data['HomePlanet'].isna()]

In [43]:
# 검증 데이터로 사용할 것
y = data[data['HomePlanet'].isna()==False]

In [44]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 59 to 8684
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    180 non-null    object
 1   HomePlanet     0 non-null      float64
 2   CryoSleep      180 non-null    bool
 3   Cabin1         180 non-null    object
 4   Cabin2         180 non-null    float64
 5   combi          180 non-null    object
 6   Cabin3         180 non-null    bool
 7   Cabin          180 non-null    object
 8   Destination    180 non-null    object
 9   Age            180 non-null    float64
 10  VIP            180 non-null    bool
 11  RoomService    176 non-null    float64
 12  FoodCourt      179 non-null    float64
 13  ShoppingMall   179 non-null    float64
 14  Spa            179 non-null    float64
 15  VRDeck         180 non-null    float64
 16  Name           173 non-null    object
 17  Transported    180 non-null    bool
 18  55 Cancri e    180 non-null    uint8
 19  PSO J318.5-22  180 non-null    uint8
 20  TRAPPIST-1e    180 non-null    uint8
 21  A              180 non-null    uint8
 22  B              180 non-null    uint8
 23  C              180 non-null    uint8
 24  D              180 non-null    uint8
 25  E              180 non-null    uint8
 26  F              180 non-null    uint8
 27  G              180 non-null    uint8
 28  T              180 non-null    uint8
dtypes: bool(4), float64(8), object(6), uint8(11)
memory usage: 23.7+ KB

In [45]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7876 entries, 0 to 8692
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    7876 non-null   object
 1   HomePlanet     7876 non-null   float64
 2   CryoSleep      7876 non-null   bool
 3   Cabin1         7876 non-null   object
 4   Cabin2         7876 non-null   float64
 5   combi          7876 non-null   object
 6   Cabin3         7876 non-null   bool
 7   Cabin          7876 non-null   object
 8   Destination    7876 non-null   object
 9   Age            7876 non-null   float64
 10  VIP            7876 non-null   bool
 11  RoomService    7772 non-null   float64
 12  FoodCourt      7772 non-null   float64
 13  ShoppingMall   7774 non-null   float64
 14  Spa            7767 non-null   float64
 15  VRDeck         7756 non-null   float64
 16  Name           7690 non-null   object
 17  Transported    7876 non-null   bool
 18  55 Cancri e    7876 non-null   uint8
 19  PSO J318.5-22  7876 non-null   uint8
 20  TRAPPIST-1e    7876 non-null   uint8
 21  A              7876 non-null   uint8
 22  B              7876 non-null   uint8
 23  C              7876 non-null   uint8
 24  D              7876 non-null   uint8
 25  E              7876 non-null   uint8
 26  F              7876 non-null   uint8
 27  G              7876 non-null   uint8
 28  T              7876 non-null   uint8
dtypes: bool(4), float64(8), object(6), uint8(11)
memory usage: 1.0+ MB

# 원-핫 인코딩

In [38]:
train_encoding = pd.get_dummies(data['Destination'])
# 기존의 팀명 컬러 삭제
# df=df.drop('Destination',axis=1)
data = data.join(train_encoding)

train_encoding = pd.get_dummies(data['Cabin1'])
# 기존의 팀명 컬러 삭제
# df=df.drop('Cabin1',axis=1)
data = data.join(train_encoding)

In [39]:
data['Cabin3'].replace({'P': 'True','S': 'False'})

0        True
1       False
2       False
3       False
4       False
        ...
8688     True
8689    False
8690    False
8691    False
8692    False
Name: Cabin3, Length: 8056, dtype: object

In [41]:
# boolean 변환
data['CryoSleep'] = data['CryoSleep'].astype(bool)
data['VIP'] = data['VIP'].astype(bool)
data['Cabin3'] = data['Cabin3'].astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8056 entries, 0 to 8692
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    8056 non-null   object
 1   HomePlanet     7876 non-null   float64
 2   CryoSleep      8056 non-null   bool
 3   Cabin1         8056 non-null   object
 4   Cabin2         8056 non-null   float64
 5   combi          8056 non-null   object
 6   Cabin3         8056 non-null   bool
 7   Cabin          8056 non-null   object
 8   Destination    8056 non-null   object
 9   Age            8056 non-null   float64
 10  VIP            8056 non-null   bool
 11  RoomService    7948 non-null   float64
 12  FoodCourt      7951 non-null   float64
 13  ShoppingMall   7953 non-null   float64
 14  Spa            7946 non-null   float64
 15  VRDeck         7936 non-null   float64
 16  Name           7863 non-null   object
 17  Transported    8056 non-null   bool
 18  55 Cancri e    8056 non-null   uint8
 19  PSO J318.5-22  8056 non-null   uint8
 20  TRAPPIST-1e    8056 non-null   uint8
 21  A              8056 non-null   uint8
 22  B              8056 non-null   uint8
 23  C              8056 non-null   uint8
 24  D              8056 non-null   uint8
 25  E              8056 non-null   uint8
 26  F              8056 non-null   uint8
 27  G              8056 non-null   uint8
 28  T              8056 non-null   uint8
dtypes: bool(4), float64(8), object(6), uint8(11)
memory usage: 1.3+ MB

In [47]:
print(x.head(), y.head())

    PassengerId  HomePlanet  CryoSleep Cabin1  Cabin2 combi  Cabin3   Cabin  \
59      0064_02         NaN       True      E     3.0    E3    True   E/3/S
113     0119_01         NaN      False      A     0.0    A0    True   A/0/P
186     0210_01         NaN       True      D     6.0    D6    True   D/6/P
225     0242_01         NaN      False      F    46.0   F46    True  F/46/S
234     0251_01         NaN       True      C    11.0   C11    True  C/11/S

     Destination   Age  ...  PSO J318.5-22  TRAPPIST-1e  A  B  C  D  E  F  G  \
59   TRAPPIST-1e  33.0  ...              0            1  0  0  0  0  1  0  0
113  TRAPPIST-1e  39.0  ...              0            1  1  0  0  0  0  0  0
186  55 Cancri e  24.0  ...              0            0  0  0  0  1  0  0  0
225  TRAPPIST-1e  18.0  ...              0            1  0  0  0  0  0  1  0
234  55 Cancri e  54.0  ...              0            0  0  0  1  0  0  0  0

     T
59   0
113  0
186  0
225  0
234  0

[5 rows x 29 columns]   PassengerId  HomePlanet  CryoSleep Cabin1  Cabin2 combi  Cabin3  Cabin  \
0     0001_01         1.0      False      B     0.0    B0    True  B/0/P
1     0002_01         0.0      False      F     0.0    F0    True  F/0/S
2     0003_01         1.0      False      A     0.0    A0    True  A/0/S
3     0003_02         1.0      False      A     0.0    A0    True  A/0/S
4     0004_01         0.0      False      F     1.0    F1    True  F/1/S

   Destination   Age  ...  PSO J318.5-22  TRAPPIST-1e  A  B  C  D  E  F  G  T
0  TRAPPIST-1e  39.0  ...              0            1  0  1  0  0  0  0  0  0
1  TRAPPIST-1e  24.0  ...              0            1  0  0  0  0  0  1  0  0
2  TRAPPIST-1e  58.0  ...              0            1  1  0  0  0  0  0  0  0
3  TRAPPIST-1e  33.0  ...              0            1  1  0  0  0  0  0  0  0
4  TRAPPIST-1e  16.0  ...              0            1  0  0  0  0  0  1  0  0

[5 rows x 29 columns]

In [50]:
y.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin1', 'Cabin2', 'combi',
       'Cabin3', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported',
       '55 Cancri e', 'PSO J318.5-22', 'TRAPPIST-1e', 'A', 'B', 'C', 'D', 'E',
       'F', 'G', 'T'],
      dtype='object')

In [55]:
data = y.drop(['PassengerId', 'HomePlanet','combi','Cabin1', 'Cabin',
               'Destination', 'Age', 'RoomService','FoodCourt',
               'ShoppingMall', 'Spa', 'VRDeck', 'Name'],axis=1)
label = y['HomePlanet']

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7876 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CryoSleep      7876 non-null   bool
 1   Cabin2         7876 non-null   float64
 2   Cabin3         7876 non-null   bool
 3   VIP            7876 non-null   bool
 4   Transported    7876 non-null   bool
 5   55 Cancri e    7876 non-null   uint8
 6   PSO J318.5-22  7876 non-null   uint8
 7   TRAPPIST-1e    7876 non-null   uint8
 8   A              7876 non-null   uint8
 9   B              7876 non-null   uint8
 10  C              7876 non-null   uint8
 11  D              7876 non-null   uint8
 12  E              7876 non-null   uint8
 13  F              7876 non-null   uint8
 14  G              7876 non-null   uint8
 15  T              7876 non-null   uint8
dtypes: bool(4), float64(1), uint8(11)
memory usage: 238.4 KB

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
rtc = RandomForestClassifier(n_jobs= -1, random_state= 109)
rtc.fit(data, label)

RandomForestClassifier(n_jobs=-1, random_state=109)

In [59]:
grid = {
      'n_estimators' : [25, 50,100,200, 300],
      'max_depth' : [5,7,10,12, 14],
      'min_samples_leaf' : [1,3,5,7,10],
      'min_samples_split' : [2,3,5,7,10],
  }

rt_grid = GridSearchCV(rtc, param_grid = grid, scoring="accuracy", cv=5, n_jobs=-1, verbose =1)

rt_grid.fit(data,label)

print("최고 평균 정확도 : {}".format(rt_grid.best_score_))
print("최고의 파라미터 :", rt_grid.best_params_)

Fitting 5 folds for each of 625 candidates, totalling 3125 fits
최고 평균 정확도 : 0.8682091692853113
최고의 파라미터 : {'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 2, 'n_estimators': 50}

In [63]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [62]:
model = RandomForestClassifier(max_depth = 10, min_samples_leaf= 5,
                                 min_samples_split= 2, 
                                 n_estimators= 50, random_state=109)
model.fit(data,label)
# 예측 
pred = model.predict(data)
print('정확도 :', accuracy_score(label, pred))

정확도 : 0.8789994921279838

In [64]:
confusion_matrix(label,pred)

array([[4239,    2,   21],
       [  57, 1812,  125],
       [ 713,   35,  872]], dtype=int64)

# 원본 예측

In [67]:
target = x.drop(['PassengerId', 'HomePlanet','combi','Cabin1', 'Cabin',
               'Destination', 'Age', 'RoomService','FoodCourt',
               'ShoppingMall', 'Spa', 'VRDeck', 'Name'],axis=1)
test = x['HomePlanet']

In [75]:
model = RandomForestClassifier(max_depth = 10, min_samples_leaf= 5,
                                 min_samples_split= 2, 
                                 n_estimators= 50, random_state=109)
model.fit(data,label)
x['HomePlanet'] = model.predict(target)

In [76]:
x.head()

,PassengerId,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
59,0064_02,2.0,True,E,3.0,E3,True,E/3/S,TRAPPIST-1e,33.0,...,0,1,0,0,0,0,1,0,0,0
113,0119_01,1.0,False,A,0.0,A0,True,A/0/P,TRAPPIST-1e,39.0,...,0,1,1,0,0,0,0,0,0,0
186,0210_01,1.0,True,D,6.0,D6,True,D/6/P,55 Cancri e,24.0,...,0,0,0,0,0,1,0,0,0,0
225,0242_01,0.0,False,F,46.0,F46,True,F/46/S,TRAPPIST-1e,18.0,...,0,1,0,0,0,0,0,1,0,0
234,0251_01,1.0,True,C,11.0,C11,True,C/11/S,55 Cancri e,54.0,...,0,0,0,0,1,0,0,0,0,0

In [77]:
x['HomePlanet'] = x['HomePlanet'].map({0.0:'Earth',1.0:'Europa',2.0:'Mars' })

In [78]:
x.head()

,PassengerId,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
59,0064_02,Mars,True,E,3.0,E3,True,E/3/S,TRAPPIST-1e,33.0,...,0,1,0,0,0,0,1,0,0,0
113,0119_01,Europa,False,A,0.0,A0,True,A/0/P,TRAPPIST-1e,39.0,...,0,1,1,0,0,0,0,0,0,0
186,0210_01,Europa,True,D,6.0,D6,True,D/6/P,55 Cancri e,24.0,...,0,0,0,0,0,1,0,0,0,0
225,0242_01,Earth,False,F,46.0,F46,True,F/46/S,TRAPPIST-1e,18.0,...,0,1,0,0,0,0,0,1,0,0
234,0251_01,Europa,True,C,11.0,C11,True,C/11/S,55 Cancri e,54.0,...,0,0,0,0,1,0,0,0,0,0